
<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">
    <head>

    <meta charset="utf-8">
    <title>Trang chủ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes">
    <meta name="theme-color" content="#0099ff">
    <meta http-equiv="Content-Language" content="VN" />
    <meta name="description" content="Tư vấn Thuốc" />
    <meta name="keywords" content="" />
    <meta property="og:url" name="og:url" content="https://tuvanthuoc.com/" data-app/>
    <meta property="og:type" name="og:type" content="website" data-app/>
    <meta property="og:description" name="og:description" content="Tư vấn Thuốc" data-app/>
    <meta property="og:title" name="og:title" content="Trang chủ" data-app/>
    <meta property="og:image" name="og:image" content="https://tuvanthuoc.com/uploaded/logo/logothumb.png" data-app>
    <meta property="og:image:alt" name="og:image:alt" content="https://tuvanthuoc.com/uploaded/logo/logothumb.png" data-app>

    <link href="/favicon.ico" rel="shortcut icon" />
    

    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/style1.css"/>

    <link rel="stylesheet" type="text/css" href="/css/grid.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/css/swiper.css">
    <script src="/js/swiper.min.js"></script>               
    
    <style>
        img:not([src]) {
            visibility: hidden;
        }

        /* Fixes Firefox anomaly during image load */
        @-moz-document url-prefix() {
            img:-moz-loading {
                visibility: hidden;
            }
        }

    </style>



    

    


    </head>
    <body>

    
    <div id="page">

        <!-- header pc -->
        <div class="header-search topheader hide-on-pad hide-on-tab">
            <div class="grid">
                <div class="flex-container">
                    <div class="cell-2-3 d-flex">
                        
                            <div class="logo logo-pc">
                                <a href="/"><img src="/uploaded/logo/logo.png" alt="Logo site" style="max-width:100%; margin:0 auto"  /></a>
                            </div>
                        
                  
                        <div class="header__form">
                            <form id="searchform" method="get" action="/search/" class="header__search"> 
                                <div class="header__search-input-wrap">
                                <input class="header__search-input keysearch" type="text" name="qr" placeholder="Nhập để tìm kiếm sản phẩm" autocomplete="off">
                                <ul class="searchresult" style="display: none;"></ul>
                                </div>
                                <a class="btn-search" onclick="$('#searchform').submit(); return false; " href="#">
                                   <i class="fa fa-search" aria-hidden="true"></i>
                                </a>
                            </form>
                        </div>
                        
                        
                    </div>
                    <div class="cell-4-3 d-flex">
                        <a href="tel:0967496102" class="header-hotline">
                            Hỗ trợ khách hàng
                            0967496102
                        </a>
        
                        <a href="/addcart/" class="headercart">
                            <div class="headercart__img">
                                <i class="fas fa-shopping-cart"></i>
                                <div class="headercart-notice countcart">0</div>
                            </div>
        
                            Giỏ hàng
                        </a>
                    </div>
        
                </div>
            </div>
        
        </div>
        <header class="header hide-on-pad hide-on-tab">
      
        <div class="grid">
            <div class="menubar">
                <ul class="nav  hide-on-tab hide-on-mobile">


                <li class=" active" style=" " > 
                    <a href="/"  class="flastsale"> <img class="flas-sales" src="/images/linning.png" alt=""> Flast sale </a>

                </li>

                <li class=" " style=" " >
                     <a href="/san-pham/"  class=""> Cây giả</a>

                </li>

                <li class=" " style=" " >
                     <a href="/gioi-thieu/"  class="">Cây cảnh</a>

                </li>

                <li class=" " style=" " > 
                    <a href="/kien-thuc-suc-khoe/"  class="">Bình hoa</a>
                </li>

                <li class=" " style=" " > 
                    <a href="/huong-dan-mua-hang/"  class="">Chậu cây cảnh </a>
                </li>
                
                <li class=" " style=" " > 
                    <a href="/huong-dan-mua-hang/"  class="">Chậu cây cảnh </a>
                </li>
                
                <li class=" " style=" " > 
                    <a href="/huong-dan-mua-hang/"  class="">Chậu cây cảnh </a>
                </li>
                
                
            </ul> 


            </div>
        </div>
        </header>
        <div class="content" >
        
            <div class="homeslide">
                
               
                
            <div class="swiper-container" id="slide_home">
                <div class="homeslide-next">  </div>
                <div class="homeslide-prev">  </div>
                <div class="swiper-wrapper"> 
                    <div class="swiper-slide" style="position:relative; overflow: hidden;">
                       <a href="#"> <img src="/uploaded/slideshow/item1.png" alt="Slide02" width="100%" style="display:block"/></a>
                        
                     
                       
                    </div>
                    
                    <div class="swiper-slide" style="position:relative; overflow: hidden;">
                        <img src="/uploaded/slideshow/item3.jpg" alt="Slide01" width="100%" style="display:block"/>
                        
                    </div>
                    <div class="swiper-slide" style="position:relative; overflow: hidden;">
                        <img src="/uploaded/slideshow/item4.jpg" alt="Slide01" width="100%" style="display:block"/>
                        
                    </div>
                </div>
                <div class="c"></div> 
            </div>


            <div class="c"></div>
            <script>
                $(function () {
                    var swiper_slide_home = new Swiper('#slide_home', {
                        loop: true,
                        slidesPerView: 1,
                        autoHeight:true,
                        autoplay: {
                            delay: 6000,
                            disableOnInteraction: false,
                        },
                        spaceBetween: 0,
                        navigation: {
                            nextEl: '.homeslide-prev',
                            prevEl: '.homeslide-next',
                        },
                        speed: 500,
                        spaceBetween: 0,
                    });

                    $('#slide_home').on('mouseover', function () {
                        swiper_slide_home.autoplay.stop();
                    });
                    $('#slide_home').on('mouseout', function () {
                        swiper_slide_home.autoplay.start();
                    });

                });
            </script>

            </div>
            <div class="grid">
                <div class="grid">
                    <div class="crumb"><div class="grid"><a href="/"> Trang chủ </a> <i class="fa fa-angle-right"></i> <a href="#">Cây giả</a></div><div class="c5"></div></div>
                </div>
               
            </div>
            <div class="product-wrapper">
              <div class="grid">
                <div class="flex-container flex-space-between">
                    <div class="cell-1-2 tab-cell-1-1">
                            <div class="swiper-container gallery-top" >
                                <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                        <a href="/uploaded/san-pham/item1.jpg"  onclick="return hs.expand(this)" ><img src="/uploaded/san-pham/item1.jpg" alt="image title" width="100%" /></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="/uploaded/san-pham/item2.jpg"  onclick="return hs.expand(this)" ><img src="/uploaded/san-pham/item2.jpg" alt="image title" width="100%" /></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="/uploaded/san-pham/item3.jpg"  onclick="return hs.expand(this)" ><img src="/uploaded/san-pham/item3.jpg" alt="image title" width="100%" /></a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="/uploaded/san-pham/item4.jpg"  onclick="return hs.expand(this)" ><img src="/uploaded/san-pham/item4.jpg" alt="image title" width="100%" /></a>
                                        </div> 
                                </div>
                                <div class="swiper-button-next swiper-button-black"></div>
                                <div class="swiper-button-prev swiper-button-black"></div>
                            </div>
                            
                           <div class="c10"></div>
                            <div class="swiper-container gallery-thumbs-pro">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img src="/uploaded/san-pham/item1.jpg" width="100%"/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/uploaded/san-pham/item2.jpg" width="100%"/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/uploaded/san-pham/item3.jpg" width="100%"/>
                                    </div>
                                    <div class="swiper-slide">
                                        <img src="/uploaded/san-pham/item4.jpg" width="100%"/>
                                    </div>
                                </div>
                            </div>
                            
                        
                        
                        
                        <div class="c10"></div>
                        
                        
                        <script>
                            var swiper = new Swiper(".gallery-thumbs-pro", {
                              spaceBetween: 10,
                              slidesPerView: 6,
                              freeMode: true,
                              watchSlidesProgress: true,
                            });
                            var swiper2 = new Swiper(".gallery-top", {
                                spaceBetween: 10,
                                loops:true,
                              slidesPerView: 1,
                              navigation: {
                                nextEl: ".swiper-button-next",
                                prevEl: ".swiper-button-prev",
                              },
                              thumbs: {
                                swiper: swiper,
                              },
                            });
                          </script>
                     
                        
                        <div class="c10"></div>
                    </div>
                    <div class="cell-1-2 tab-cell-1-1">
                        <h1>
                            Cây bàng giả trang trí
                        </h1>
                        <div class="c20"></div>
                        <div class="tinhtrang">
                            Tình trạng: <b>Còn hàng</b>
                        </div>
                        <div class="c10"></div>
                        <div class="price">
                        
                            <div class="pricekm-detail" id="pricekm"> 3,590,000 đ  </div>
                            <small>(Giá bán chưa bao gồm phí vận chuyển)</small>
                        </div>
                        <div class="c10"></div>
                       <div class="size">
                          
                                <b style="float: left;">Kích thước:</b> 
                             
                            <div class="size-item" data-price="3590000 " data-price-format="3590000 đ" data-price-with-format="3,590,000 đ"> 
                                Lớn
                            </div>
                            <div class="size-item" data-price="290000 " data-price-format="290000 đ" data-price-with-format="3,590,000 đ"> 
                               Vừa
                            </div>
                            <div class="size-item" data-price="20000 " data-price-format="20000 đ" data-price-with-format="3,590,000 đ"> 
                               Nhỏ
                             </div>
                       </div>
                       <div class="c20"></div>
                       <div class="number">
                        <span>  <b>Số lượng :</b>       </span>  
                        <span class="minus">-</span>
                        <input type="text" value="1"/>
                        <span class="plus">+</span>
                     </div>
                     <div class="c30"></div>
                     <div class="flex-container" style="justify-content: flex-start;">
                        <a class="addcart-btn" href="#"> <i class="fas fa-arrow-right"></i>   Mua hàng ngay </a>
                        <a class="buy-now" href="#"> <i class="fas fa-cart-plus"></i> Cho vào giỏ hàng </a>
                    </div>
                    </div>
                    <div class="cell-1-1">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aut temporibus optio earum facilis nulla sapiente fuga quaerat odit. Dignissimos pariatur atque iusto officiis ab molestiae nesciunt molestias sapiente suscipit?
                        <div class="c10"></div>
                        <div class="c10"></div>
                      
                        <div class="c10"></div>                  
                    <div class="text0h" style="text-align: justify;">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aut temporibus optio earum facilis nulla sapiente fuga quaerat odit. Dignissimos pariatur atque iusto officiis ab molestiae nesciunt molestias sapiente suscipit?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aut temporibus optio earum facilis nulla sapiente fuga quaerat odit. Dignissimos pariatur atque iusto officiis ab molestiae nesciunt molestias sapiente suscipit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aut temporibus optio earum facilis nulla sapiente fuga quaerat odit. Dignissimos pariatur atque iusto officiis ab molestiae nesciunt molestias sapiente suscipit?Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse aut temporibus optio earum facilis nulla sapiente fuga quaerat odit. Dignissimos pariatur atque iusto officiis ab molestiae nesciunt molestias sapiente suscipit?</div>
                    </div>
                </div>
              
              </div>
            </div>
              
				<script>
					$(".size-item").click(function(){
						$(".size-item").removeClass("choose-price");
						$(this).addClass("choose-price");				
							$("#pricekm").html($(this).attr("data-price-format") );
						
						rePrice();
						linkcart();
						
					});
					
					
					
									
				
				
					$( function() {
						$(".size-item").first().addClass("choose-price");
						$( "#qty").spinner({          
							stop:function(e,ui){
								linkcart();
							}
						});
						linkcart();
					    });

                            $('.minus').click(function () {
                        var $input = $(this).parent().find('input');
                        var count = parseInt($input.val()) - 1;
                        count = count < 1 ? 1 : count;
                        $input.val(count);
                        $input.change();
                        return false;
                    });
                    $('.plus').click(function () {
                        var $input = $(this).parent().find('input');
                        $input.val(parseInt($input.val()) + 1);
                        $input.change();
                        return false;
                    });

				</script>
            
            <div class="c50"></div>
            <div class="flashsale-wrapper" style="background-color: #00000018;">
                <div class="c50"></div>
               
                <div class="grid">
                    <div class="title-page">
                        Sản phẩm khuyến mãi
                    </div>
                    <div class="c20"></div>
                   <div class="flex-container">
                            <div class="c30"></div>
                            <div class="flex-container">
                                <div class="cell-1-4 tab-cell-1-2">
                                
                                    <div class="producthome-item">
                                        <div class="img-hv">
                                            <a href="#" class="img-shine">
                                                <img src="/uploaded/san-pham/item1.jpg" alt="">
                                                  
                                            </a>
                                            <div class="hvr-show">
                                                <a href="#" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                                            </div>   
                                        </div>
                                       
                                        
                                        <div class="producthot-box">
                                        <h3>
                                            <a href="#" class="producthot-item__name text-line-2">
                                            Cây monstera thanh xuân trang trí
                                            </a>
                                        </h3>
                                        <div class="producthot-item__intro text-line-2">Cây Monstera không những giúp tăng tính thẩm mỹ cho không gian mà còn mang nhiều ý nghĩa phong thủy tốt đẹp.
                                        </div>
                                        <div class="c10"> </div>
                                        <div class="producthot__price">
                                            <span class="producthot__price-old">210.000 VND <span style="margin-right: 5px;"></span></span>
                                            <span class="producthot__price-current">95,000 VNĐ</span>
                                        </div>
                
                
                                        </div>
                
                                        <div class="c10"></div>
                                       
                                                 
                                    </div>
                                   
                                </div>
                                <div class="cell-1-4 tab-cell-1-2">
                                
                                    <div class="producthome-item">
                            
                                        <div class="img-hv">
                                            <a href="#" class="img-shine">
                                                <img src="/uploaded/san-pham/item2.jpg" alt="">
                                                  
                                            </a>
                                            <div class="hvr-show">
                                                <a href="#" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                                            </div>   
                                        </div>
                                        <div class="producthot-box">
                                        <h3>
                                            <a href="#" class="producthot-item__name text-line-2">
                                            Cây monstera thanh xuân trang trí
                                            </a>
                                        </h3>
                                        <div class="producthot-item__intro text-line-2">Cây Monstera không những giúp tăng tính thẩm mỹ cho không gian mà còn mang nhiều ý nghĩa phong thủy tốt đẹp.
                                        </div>
                                        <div class="c10"> </div>
                                        <div class="producthot__price">
                                            <span class="producthot__price-old">210.000 VND <span style="margin-right: 5px;"></span></span>
                                            <span class="producthot__price-current">95,000 VNĐ</span>
                                        </div>
                
                
                                        </div>
                                        <div class="c10"></div>
                
                                        
                                                        
                                    </div>
                                   
                                </div>
                                <div class="cell-1-4 tab-cell-1-2">
                                
                                    <div class="producthome-item">
                                        <div class="img-hv">
                                            <a href="#" class="img-shine">
                                                <img src="/uploaded/san-pham/item1.jpg" alt="">
                                                  
                                            </a>
                                            <div class="hvr-show">
                                                <a href="#" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                                            </div>   
                                        </div>
                                        <div class="producthot-box">
                                        <h3>
                                            <a href="#" class="producthot-item__name text-line-2">
                                            Cây monstera thanh xuân trang trí
                                            </a>
                                        </h3>
                                        <div class="producthot-item__intro text-line-2">Cây Monstera không những giúp tăng tính thẩm mỹ cho không gian mà còn mang nhiều ý nghĩa phong thủy tốt đẹp.
                                        </div>
                                        <div class="c10"> </div>
                                        <div class="producthot__price">
                                            <span class="producthot__price-old">210.000 VND <span style="margin-right: 5px;"></span></span>
                                            <span class="producthot__price-current">95,000 VNĐ</span>
                                        </div>
                
                
                                        </div>
                
                                        <div class="c10"></div>
                                        <div class="home-product-item__sale-off">
                                        <span class="home-product-item__sale-off-percent">70%</span>
                                        <span class="home-product-item__sale-off-label">GIẢM</span>
                                        </div>
                                                        
                                    </div>
                                   
                                </div>
                                <div class="cell-1-4 tab-cell-1-2">
                                
                                    <div class="producthome-item">
                            
                                        <div class="img-hv">
                                            <a href="#" class="img-shine">
                                                <img src="/uploaded/san-pham/item2.jpg" alt="">
                                                  
                                            </a>
                                            <div class="hvr-show">
                                                <a href="#" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                                            </div>   
                                        </div>
                                        
                                        <div class="producthot-box">
                                        <h3>
                                            <a href="#" class="producthot-item__name text-line-2">
                                            Cây monstera thanh xuân trang trí
                                            </a>
                                        </h3>
                                        <div class="producthot-item__intro text-line-2">Cây Monstera không những giúp tăng tính thẩm mỹ cho không gian mà còn mang nhiều ý nghĩa phong thủy tốt đẹp.
                                        </div>
                                        <div class="c10"> </div>
                                        <div class="producthot__price">
                                            <span class="producthot__price-old">210.000 VND <span style="margin-right: 5px;"></span></span>
                                            <span class="producthot__price-current">95,000 VNĐ</span>
                                        </div>
                
                
                                        </div>
                                        <div class="c10"></div>
                
                                      
                                    </div>
                                   
                                </div>
                               
                              
                               
                            </div>
                        </div>
                   </div>
                   <div class="c20"></div>
                   <div class="c30"></div>
                </div>
                

                <div class="flashsale-wrapper">
                    <div class="c50"></div>
                   
                    <div class="grid">
                        <div class="title-page">
                            Sản phẩm Đã xem
                        </div>
                        <div class="c20"></div>
                       <div class="flex-container">
                                <div class="c30"></div>
                                <div class="flex-container">
                                    <div class="cell-1-4 tab-cell-1-2">
                                    
                                        <div class="producthome-item">
                                            <div class="img-hv">
                                                <a href="#" class="img-shine">
                                                    <img src="/uploaded/san-pham/item1.jpg" alt="">
                                                      
                                                </a>
                                                <div class="hvr-show">
                                                    <a href="#" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                                                </div>   
                                            </div>
                                           
                                            
                                            <div class="producthot-box">
                                            <h3>
                                                <a href="#" class="producthot-item__name text-line-2">
                                                Cây monstera thanh xuân trang trí
                                                </a>
                                            </h3>
                                            <div class="producthot-item__intro text-line-2">Cây Monstera không những giúp tăng tính thẩm mỹ cho không gian mà còn mang nhiều ý nghĩa phong thủy tốt đẹp.
                                            </div>
                                            <div class="c10"> </div>
                                            <div class="producthot__price">
                                                <span class="producthot__price-old">210.000 VND <span style="margin-right: 5px;"></span></span>
                                                <span class="producthot__price-current">95,000 VNĐ</span>
                                            </div>
                    
                    
                                            </div>
                    
                                            <div class="c10"></div>
                                           
                                                     
                                        </div>
                                       
                                    </div>
                                    <div class="cell-1-4 tab-cell-1-2">
                                    
                                        <div class="producthome-item">
                                
                                            <div class="img-hv">
                                                <a href="#" class="img-shine">
                                                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                                                      
                                                </a>
                                                <div class="hvr-show">
                                                    <a href="#" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                                                </div>   
                                            </div>
                                            <div class="producthot-box">
                                            <h3>
                                                <a href="#" class="producthot-item__name text-line-2">
                                                Cây monstera thanh xuân trang trí
                                                </a>
                                            </h3>
                                            <div class="producthot-item__intro text-line-2">Cây Monstera không những giúp tăng tính thẩm mỹ cho không gian mà còn mang nhiều ý nghĩa phong thủy tốt đẹp.
                                            </div>
                                            <div class="c10"> </div>
                                            <div class="producthot__price">
                                                <span class="producthot__price-old">210.000 VND <span style="margin-right: 5px;"></span></span>
                                                <span class="producthot__price-current">95,000 VNĐ</span>
                                            </div>
                    
                    
                                            </div>
                                            <div class="c10"></div>
                    
                                            
                                                            
                                        </div>
                                       
                                    </div>
                                    <div class="cell-1-4 tab-cell-1-2">
                                    
                                        <div class="producthome-item">
                                            <div class="img-hv">
                                                <a href="#" class="img-shine">
                                                    <img src="/uploaded/san-pham/item1.jpg" alt="">
                                                      
                                                </a>
                                                <div class="hvr-show">
                                                    <a href="#" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                                                </div>   
                                            </div>
                                            <div class="producthot-box">
                                            <h3>
                                                <a href="#" class="producthot-item__name text-line-2">
                                                Cây monstera thanh xuân trang trí
                                                </a>
                                            </h3>
                                            <div class="producthot-item__intro text-line-2">Cây Monstera không những giúp tăng tính thẩm mỹ cho không gian mà còn mang nhiều ý nghĩa phong thủy tốt đẹp.
                                            </div>
                                            <div class="c10"> </div>
                                            <div class="producthot__price">
                                                <span class="producthot__price-old">210.000 VND <span style="margin-right: 5px;"></span></span>
                                                <span class="producthot__price-current">95,000 VNĐ</span>
                                            </div>
                    
                    
                                            </div>
                    
                                            <div class="c10"></div>
                                            <div class="home-product-item__sale-off">
                                            <span class="home-product-item__sale-off-percent">70%</span>
                                            <span class="home-product-item__sale-off-label">GIẢM</span>
                                            </div>
                                                            
                                        </div>
                                       
                                    </div>
                                    <div class="cell-1-4 tab-cell-1-2">
                                    
                                        <div class="producthome-item">
                                
                                            <div class="img-hv">
                                                <a href="#" class="img-shine">
                                                    <img src="/uploaded/san-pham/item2.jpg" alt="">
                                                      
                                                </a>
                                                <div class="hvr-show">
                                                    <a href="#" title="Thêm vào giỏ hàng"><i class="fas fa-cart-plus"></i></a>
                                                </div>   
                                            </div>
                                            
                                            <div class="producthot-box">
                                            <h3>
                                                <a href="#" class="producthot-item__name text-line-2">
                                                Cây monstera thanh xuân trang trí
                                                </a>
                                            </h3>
                                            <div class="producthot-item__intro text-line-2">Cây Monstera không những giúp tăng tính thẩm mỹ cho không gian mà còn mang nhiều ý nghĩa phong thủy tốt đẹp.
                                            </div>
                                            <div class="c10"> </div>
                                            <div class="producthot__price">
                                                <span class="producthot__price-old">210.000 VND <span style="margin-right: 5px;"></span></span>
                                                <span class="producthot__price-current">95,000 VNĐ</span>
                                            </div>
                    
                    
                                            </div>
                                            <div class="c10"></div>
                    
                                          
                                        </div>
                                       
                                    </div>
                                   
                                  
                                   
                                </div>
                            </div>
                       </div>
                       <div class="c20"></div>
                       <div class="c30"></div>
                    </div>
                <div class="c20"></div>
                <div class="c30"></div>
            </div>
      


        <!-- footer -->
        <footer class="footer">

            <div class="footer-main">
                <div class="grid">
        
                    <div class="flex-container">
                        <div class="cell-1-4 tab-cell-1-1">
                          
                          
                            <div class="footer-block">
                                <div class="footer-title footer-title-mobile menuboxfooter" rel="ct">
                              Xanhvina
                                </div>
                              
                                <div class="info">Trụ sở: Số 14-16, ngõ 254 Đường Bưởi,&nbsp;P. Cống Vị Quận Ba Đình, Hà Nội</div>
        
        <div class="info"><b>Điện thoại:</b> 0869 066 288</div>
        
        <div class="info"><b>Email:&nbsp;</b>info@relinesglobal.com</div>
        
        
                            </div>
        
                             <div class="c10"></div>
                            <ul class="footer-social">
        
                                <li class="facebook  hvr-float">
                                    <a href="https://www.facebook.com/hocbongvnu" class="footer-social__item">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li class="youtube  hvr-float">
                                    <a href="#" class="footer-social__item">
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                </li>
        
                                <li class="instagram  hvr-float">
                                    <a href="" class="footer-social__item">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
        
                            </ul>
        
                        </div>
                       
                        <div class="cell-1-4 tab-cell-1-1">
                           
                            <div class="footer-block">
        
        
        
                                <ul class="menuboxfooter" id="boxcol5">
                                    <li><a href="/gioi-thieu-chung/"> Cây cảnh</a></li>
                                    <li><a href="/tam-nhin-chien-luoc/"> Bình hoa </a></li>
                                    <li><a href="/gia-tri-cot-loi/"> Chậu cây cảnh</a></li>
                                </ul>
                                <div class="c10"></div>
        
                            </div>
        
                        </div>
        
                        <div class="cell-1-4 tab-cell-1-1">
                        
                            <div class="footer-block">
        
        
        
                                <ul class="menuboxfooter" id="boxcol5">
                                    <li><a href="/gioi-thieu-chung/"> Điều khoản chính sách</a></li>
                                    <li><a href="/tam-nhin-chien-luoc/"> Chính sách đổi trả </a></li>
                                    <li><a href="/gia-tri-cot-loi/"> Chính sách giao hàng</a></li>
                                </ul>
                                <div class="c10"></div>
        
                            </div>
        
                        </div>
        
                        <div class="cell-1-4 tab-cell-1-1">
                         
                            <div class="footer-block">
                                </div>
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fxanhvina2021&tabs&width=220&height=400&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=false&appId" width="340" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        </div>
        
                    </div>
                         <div class="c20"></div>
                   
        
                </div>
            </div>
        
        
        </footer>
        <div class="footer-copyright">
            <div class="grid">
                    <div class="flex-container">
                        <div class="cell-1-4">
                            <div class="txt-copy">Copyright © 2023 by Xanhvina </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- end footer -->
            <div class="modal-over-wrapper"></div>


  

    <script src="/js/script.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>



    <script type="text/javascript" src="/js/jquery.fancybox.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css" />        

    <link rel="stylesheet" rel="preload" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"/>


    <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css"/>
    <script src="/js/jquery.mmenu.min.all.js"></script>
    <script src="/js/autocomplete.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js"></script>




<link rel="stylesheet" href="/css/hover.css" />



<div id="button-btt">
    <a href="#"><i class="fa fa-chevron-up"></i> </a>
</div>



<link rel="stylesheet" href="/css/widget-call.css" />
<div class="widget_wbt_call_now_widget">
    <div class="float-icon-hotline">
        <ul>
            <li class="hotline_float_icon"><a id="messengerButton" href="tel:0967496102"><i class="fa fa-hotline animated infinite tada"></i><span>Hotline: 0967496102</span></a></li>
            <li class="hotline_float_icon"><a id="messengerButton" href="https://zalo.me/0967496102" target="_blank"><i class="fa fa-zalo animated infinite tada"></i><span>Nhắn tin qua Zalo</span></a></li>
            <li class="hotline_float_icon"><a id="messengerButton" href="https://m.me/104718022139386" target="_blank"><i class="fa fa-messenger animated infinite tada"></i><span>Nhắn tin qua Facebook</span></a></li>

        </ul>
    </div>
</div>



</body>



<!----
☺☺☺ Design by Minh Nguyen. Email nguyensyminh@gmail.com - Hotline : 0968 67 55 68 ☺☺☺
---->

</html>